.roundedBtn {
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    background-color: var(--blue-light);
    color: var(--white);
    font-size: 0.8rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: var(--blue-dark);
    }
}

.defaultBtn {
    padding: 0.7rem 1.5rem;
    border-radius: 2px;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.2);
    font-family: Catamaran;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1rem;

    &--primary {
        background-color: var(--button-primary);
        color: var(--white);
    }
}
