@import "./buttons.scss";

:root {
    --white: #f2f2f2;
    --blue-light: #03379f15;
    --blue-dark: #03379f;

    --button-primary: #5D98F3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    display: flex;
}

body{
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border: none;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 520px) {
    html {
        font-size: 10px;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 5px;
    }
}
