.videoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
    &__video {
        border: none;
        border-radius: 5px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        max-width: 60vw;
    }
}
