.featureSection {
    position: relative;
    height: fit-content;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;

    &__explanation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        padding: 0 10%;
        h4 {
            font-family: Catamaran, sans-serif;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 0.08em;
            color: var(--text-gray);
        }

        button {
            margin-top: 2rem;
        }
    }
    &__features {
        display: flex;
        position: relative;

        &__backgroundShape {
            height: auto;
            width: 40vw;
            z-index: -10;
            transform: scale(-1, 1);
            margin-left: auto;
        }
    }
}
