@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

.bottomLogo {
	width: 100%;
	font-size: 1.5rem;
	font-weight: 450;
	font-family: "Bruno Ace", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;

	&__bottomLogoLight {
		p {
			color: var(--bottom-Logo-Free-Light);
			span {
				width: 1.8rem;
				color: var(--bottom-Logo-Di-Light);
			}
		}
		&__span {
			animation: fadeIn 6s infinite;
		}
	}

	&__bottomLogoDark {
		p {
			color: var(--bottom-Logo-Free-Dark);
			span {
				color: var(--bottom-Logo-Di-Dark);
			}
		}
		&__span {
			animation: fadeIn 6s infinite;
		}
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	30% {
		opacity: 1;
	}
	60% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}
