@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

$bottomLogoFreeLight: #3851d3;
$bottomLogoDiLight: #3db7b7;
$bottomLogoFreeDark: #437ddb;
$bottomLogoDiDark: #bed8ff;

.bottomLogo {
    width: 21rem;
    font-size: 1.5rem;
    font-weight: 450;
    font-family: "Bruno Ace";

    &__bottomLogoLight {
        p {
            color: $bottomLogoFreeLight;
            span {
                color: $bottomLogoDiLight;
            }
        }
        &__span {
            animation: fadeIn 2s infinite;
        }
    }

    &__bottomLogoDark {
        p {
            color: $bottomLogoFreeDark;
            span {
                color: $bottomLogoDiDark;
            }
        }
        &__span {
            animation: fadeIn 2s infinite;
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
