@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

$bottomLogoFreeLight: #3851d3;
$bottomLogoDiLight: #3db7b7;
$bottomLogoFreeDark: #437ddb;
$bottomLogoDiDark: #bed8ff;

.bottomLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 21rem;
    font-size: 1.5rem;
    font-weight: 450;
    font-family: "Bruno Ace";

    &__bottomLogoLight {
        margin-bottom: 2rem;

        p {
            color: $bottomLogoFreeLight;
            span {
                color: $bottomLogoDiLight;
            }
        }
    }

    &__bottomLogoDark {
        p {
            color: $bottomLogoFreeDark;
            span {
                color: $bottomLogoDiDark;
            }
        }
    }
}
