.main {
	display: flex;
	flex-direction: column;
	transition: 0.7s ease-in-out;

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 15vw;
		width: 100%;
		padding: 5vw 15vw;
		margin: 0 auto;
	}
}

.sectionHeader {
	font-size: 2rem;
	font-weight: 600;
	color: var(--text-black);
	line-height: 2rem;
}

.sectionSubHeader {
	font-size: 1.7rem;
	font-weight: 400;
	color: var(--text-black);
}

.sectionText {
	font-size: 1.5rem;
	font-weight: 350;
	color: var(--dark-text);
}
