.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    // padding: 0 10vw;
    // background-image: url("../../../assets/Images/Hero-Background.png");
    // background-repeat: no-repeat;
    // background-position: top;
    // background-size: cover;
    // background-size: contain;

    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        width: 100%;
    }
}

.sectionHeader {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.08em;
    color: var(--text-gray);
}

.sectionTextBox {
    width: 40%;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sectionTitle {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-black);
}

.sectionText {
    font-size: var(--btn-font-size);
    line-height: 1.5rem;
    color: var(--text-gray);
}

@media screen and (max-width: 500px) {
    .defaultSection {
        flex-direction: column;

        &__teamworkImg {
            width: 50vw;
        }
    }
    .sectionTitle {
        width: 100%;
    }

    .sectionTextBox {
        width: 80%;
        justify-content: end;
    }

    .sectionText {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .main {

        &__body {
            width: 70%;
        }
    }
}
