 @import "../../../../styles/globalExtends.scss";

.featureSection {
    @extend %flex-relative;
    height: auto;
    width: 100%;
    padding: 5vw;

    &__explanation {
        @extend %flex-column;
        justify-content: center;
        gap: 1rem;
        width: 50%;

        .sectionTitle {
            font-size: 1.5rem;
        }

        button {
            margin-top: 2rem;
        }
    }
    &__features {
        width: 50%;
         @extend %flex-relative;

        &__backgroundShape {
            height: auto;
            width: 40vw;
            z-index: -10;
            transform: scale(-1, 1);
            margin-left: auto;
        }
    }
}
