@import "../../../../styles/globalExtends.scss";

$rem: 2.5rem;

.clientFeedback {
    padding: 1rem;
    position: relative;
    margin: auto;
    width: 30rem;
    height: 35rem;

    &__backgroundShape {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

    @extend %centered;
    justify-content: center;
    gap: 2rem;
    color: var(--white);

    .title {
        font-family: "Roboto", sans-serif;
        font-size: 1.5rem;
        text-align: center;
        font-weight: 500;
    }

    .body {
        width: 20rem;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-size: 1rem;
        font-style: italic;
        text-align: center;
        font-weight: 300;
        line-height: 1.5rem;
    }

    &__shapesBox {
        position: absolute;
    }

    .shapeOne {
        top: 17rem;
        left: 17rem;
    }

    .shapeTwo {
        top: 23vw;
        left: 26vw;
    }

    .shapeThree {
        top: 20vw;
        left: 23vw;
    }

    &__clients {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &__client {
            border-radius: 50%;
            position: absolute;
            cursor: pointer;
            transition: all 0.5s;
            border: 1px solid #fff;
            &--selected {
                border-radius: 50%;
                width: 5rem;
                height: 5rem;
                position: absolute;
                border: 2px solid #fff;
                box-shadow: 0 5px 20px #00000040;
                top: -3vw;
                left: 2rem;
            }
        }

        &__client:nth-child(2) {
            width: 3rem;
            height: 3rem;
            top: 33rem;
            left: 22rem;
        }

        &__client:nth-child(3) {
            width: 4rem;
            height: 4rem;
            top: 35rem;
            left: 15rem;
        }

        &__client:nth-child(4) {
            width: $rem;
            height: $rem;
            top: 36rem;
            left: 10rem;
        }

        &__client:nth-child(5) {
            width: $rem;
            height: $rem;
            top: 37rem;
            left: 5rem;
        }

        &__client:hover {
            transform: scale(1.1);
        }
    }
}
