.clientFeedback {
    padding: 0 1rem;
    position: relative;
    margin: auto;
    width: 100%;
    height: 50vw;
    background-image: url("../../../../assets/Images/clientFeedbackShape.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    color: var(--white);

    .title {
        font-family: "Roboto", sans-serif;
        font-size: 2vw;
        text-align: center;
        font-weight: 500;
    }

    .body {
        width: 30%;
    }

    p {
        font-family: "Roboto", sans-serif;
        font-size: 1.5vw;
        font-style: italic;
        text-align: center;
        font-weight: 300;
        line-height: 2.5vw;
    }

    &__shapesBox {
        position: absolute;
    }

    .shapeOne {
        top: 27vw;
        left: 27vw;
    }

    .shapeTwo {
        top: 23vw;
        left: 26vw;
    }

    .shapeThree {
        top: 20vw;
        left: 23vw;
    }

    &__clients {
        position: absolute;
        top: 0;
        left: 0;

        &__client {
            border-radius: 50%;
            position: absolute;
            cursor: pointer;
            transition: all 0.5s;
            border: 1px solid #fff;
            &--selected {
                border-radius: 50%;
                width: 10vw;
                height: 10vw;
                position: absolute;
                border: 2px solid #fff;
                box-shadow: 0 5px 20px #00000040;
                top: -3vw;
                left: 26vw;
            }
        }

        &__client:nth-child(2) {
            width: 5vw;
            height: 5vw;
            top: 45vw;
            left: 62vw;
        }

        &__client:nth-child(3) {
            width: 7vw;
            height: 7vw;
            top: 50vw;
            left: 55vw;
        }

        &__client:nth-child(4) {
            width: 5vw;
            height: 5vw;
            top: 52vw;
            left: 45vw;
        }

        &__client:nth-child(5) {
            width: 5vw;
            height: 5vw;
            top: 53vw;
            left: 35vw;
        }

        &__client:hover {
            transform: scale(1.1);
        }
    }
}
