@import "./buttons.scss";

:root {
    --white: #f2f2f2;
    --blue-light: #03379f15;
    --blue-dark: #03379f;

    --background-primary: #eff1ff;
    --button-primary: #5d98f3;

    --text-gray: #6e8aa6;
    --text-black: #232f4a;

    --notFound-title: #544d80;
    --notFound-btn: #81a0d3;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 24px;
}

body {
    background-color: var(--background-primary);
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    border: none;
    text-align: center;
}

.notSelectable {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 2560px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 1440px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 1024px) {
    html {
        font-size: 16px;
    }
}

@media screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }
}

@media screen and (max-width: 520px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 425px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 350px) {
    html {
        font-size: 5px;
    }
}
