.logoBox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    &:name {
        font-size: var(--btn-font-size);
        font-weight: 500;
        line-height: 31.36px;
        text-align: left;
    }
}