.welcomeHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    gap: 5vw;
    margin-top: 2rem;
    .heroTitle {
        color: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        .heading {
            font-size: 1.7rem;
            font-weight: 700;
            line-height: 1.7rem;
            letter-spacing: 1px;
            text-align: center;
            width: 80%;
        }
        .paragraph {
            font-size: 1rem;
            font-weight: 300;
            line-height: 1rem;
            text-align: left;
        }
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 1rem;
        li {
            list-style: none;
            color: #6a7699;
            cursor: pointer;
        }
        li:hover {
            color: #0f0f0f;
        }
    }
}

@media screen and (min-width: 800px) {
    .header {
        margin-top: 10vw;
    }
}
