.AccessTodaySection {
    width: 100%;
    height: fit-content;
    &__wrapper {
        background: url("../../../assets/Images/Backgroun\ shape\ 02.png")
            no-repeat top center/contain;

        background-size: 100% 100%;
        width: 70%;
        height: 15vw;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__flower {
            width: 6vw;
            height: auto;
        }
        p {
            margin-top: 2vw;
            margin-left: 5vw;
        }
        &__character {
            width: 10vw;
            height: auto;
            position: relative;
            right: -5vw;
            top: 4vw;
        }
    }
}
