.app {
    width: 100vw;
    height: 100vh;
    background-color: var(--blue-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    color: var(--text-gray);
}
