.navbar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.4rem 1.4rem;
    background-color: #5d98f1;

    &__languages {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.3rem;
        gap: 0.3rem;
        &__flag {
            transition: all 0.5s ease-in-out;
            position: absolute;
            background-color: transparent;
            right: 0;
            &--current {
                position: relative;
                background-color: transparent;
                height: 1.2rem;
                width: 1.2rem;
            }
        }

        &__ArrowDownIcon{
            &--button{
                border: none;
                background-color: initial;
            }
        }
    }
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    li {
        margin: 0 10px;
        a {
            font-family: Catamaran, sans-serif;
            font-size: 1.1rem;
            font-weight: 100;
            line-height: 1.2rem;
            text-align: center;
            transition: all 0.3s ease-in-out;
        }
    }
}
