.navbar {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
	max-width: 1440px;
	margin: 0 auto;

	&__languages {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
		&__flag {
			transition: all 0.5s ease-in-out;
			position: absolute;
			background-color: transparent;
			left: 0;
			&--current {
				position: relative;
				background-color: transparent;
			}
		}

		&__ArrowDownIcon {
			border: none;
			background-color: inherit;
		}
	}
}

ul {
	display: flex;
	align-items: center;
	justify-content: space-between;
	list-style: none;
	li {
		margin: 0 10px;
		a {
			font-family: Catamaran, sans-serif;
			font-size: 1.1rem;
			font-weight: 100;
			line-height: 1.2rem;
			text-align: center;
			transition: all 0.3s ease-in-out;
		}
	}
}
