$breakpoint-small: 500px;

@import "../../../../styles/globalExtends.scss";


.teamWorkSection {
    @extend %flex-align;
    justify-content: center;
    gap: 5vw;

    &__teamworkImg {
        width: 30vw;
        height: auto;
    }
}

@media screen and (max-width: $breakpoint-small) {
    .teamWorkSection {
        flex-direction: column;

        &__teamworkImg {
            width: 50vw;
        }
    }
}
