.whoAreWe {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5rem;

	&__imageBox {
		width: 100%;
		display: flex;
		flex-direction: column;

		.heroImg {
			width: 55%;
			max-width: 800px;
			height: auto;
			margin: 0 auto;
		}

		.sectionSubHeader {
			width: 50%;
		}
	}

	&__textBox {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 3rem;

		.geometryImg {
			width: 100%;
			max-width: 800px;
			height: auto;
		}

		.sectionText {

			span {
				font-weight: 450;
			}
			.free {
				color: var(--freedi-blue);
			}
			.di {
				color: var(--bottom-Logo-Di-Light);
			}
		}
	}
}
