$ColorDarkText: #57688f;
$ColorFree: #3851d3;
$ColorDi: #3db7b7;
$breakpoint-xxlarge: 1440px;
$breakpoint-xlarge: 1200px;
$breakpoint-large: 1023px;
$breakpoint-medium: 768px;
$breakpoint-small: 576px;
$breakpoint-xsmall: 375px;

.whoAreWe {
    width: 70.5rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    &__leftSection {
        width: 29rem;
        display: flex;
        flex-direction: column;

        &__top {
            margin-top: 7rem;
            display: flex;
            flex-direction: column;
            gap: 35rem;

            &__title {
                font-size: 3.75rem;
                font-weight: 500;
                color: var(--text-black);
            }

            &__description {
                font-size: 2.2rem;
                font-weight: 400;
                line-height: 3rem;
                color: var(--text-black);
            }
        }

        &__bottom {
            margin-top: 30rem;

            &__imgArea {
                margin-bottom: 10rem;
                margin-right: 2rem;

                display: flex;
                justify-content: center;
                align-items: center;

                &__geometryImg {
                    width: 29.2rem;
                    height: 13rem;
                }

                &__geometryImg2 {
                    width: 17rem;
                    height: 4.5rem;
                }
            }
            &__paragraph {
                width: 29.2rem;
                p {
                    margin-bottom: 1.5rem;
                    color: $ColorDarkText;
                    font-weight: 350;
                    line-height: 1.8rem;
                    font-size: 1.25rem;
                }

                span {
                    font-weight: 450;
                }
                .free {
                    color: $ColorFree;
                }
                .di {
                    color: $ColorDi;
                }
            }
        }
    }

    &__rightSection {
        position: sticky;
        top: -12rem;
        height: fit-content;
        align-self: flex-start;

        &__img {
            width: 40rem;
            height: 63rem;
        }
    }
}

.bottomLogoMaxWid{
    position: absolute;
    top: 12rem;
}
.bottomLogoMinWid{
    position: absolute;
    right: 34rem;
}

// Small screens (up to 375px)
@media (max-width: $breakpoint-xsmall) {
    .whoAreWe {
        width: 30.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__leftSection {
            &__top {
                margin-left: 2.5rem;
                margin-top: 7rem;
                gap: 39rem;

                &__title {
                    font-size: 2.5rem;
                }

                &__description {
                    width: 25rem;
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                }
            }

            &__bottom {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__imgArea {
                    margin-bottom: 5rem;

                    &__geometryImg {
                        width: 33rem;
                        height: 15rem;
                    }
                }
                &__paragraph {
                    width: 23.5rem;
                }
            }
        }
        &__rightSection {
            &__img {
                position: relative;
                bottom: 105rem;
                right: 0rem;
                width: 31rem;
                height: 38rem;
            }
        }
    }
}
// Small screens (up to 576px)
@media (min-width: $breakpoint-xsmall) and (max-width: $breakpoint-small) {
    .whoAreWe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 36.5rem;

        &__leftSection {
            &__top {
                gap: 2rem;

                &__title {
                    font-size: 2.5rem;
                }

                &__middle {
                    &__img{
                        margin-left: -3.5rem;
                        width: 31rem;
                        height: 38rem;
                    }
                }

                &__description {
                    width: 25rem;
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                }
            }

            &__bottom {
                margin-top: 10rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__imgArea {
                    margin-bottom: 7rem;
                    margin-left: 1rem;

                    &__geometryImg {
                        width: 36rem;
                        height: 16rem;
                    }
                }
                &__paragraph {
                    width: 25rem;

                    p {
                        margin-bottom: 1rem;
                        line-height: 1.8rem;
                    }
                }
            }
        }
    }
}

// Medium screens (up to 768px)
@media (min-width: $breakpoint-small) and (max-width: $breakpoint-medium) {
    .whoAreWe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 36.5rem;

        &__leftSection {
            &__top {
                gap: 2rem;

                &__title {
                    font-size: 2.5rem;
                }

                &__middle {
                    &__img{
                        margin-right: 1rem;
                        width: 31rem;
                        height: 38rem;
                    }
                }

                &__description {
                    width: 25rem;
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                }
            }

            &__bottom {
                margin-top: 10rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__imgArea {
                    margin-bottom: 7rem;
                    margin-left: 1rem;

                    &__geometryImg {
                        width: 36rem;
                        height: 16rem;
                    }
                }
                &__paragraph {
                    width: 32rem;

                    p {
                        margin-bottom: 1rem;
                        line-height: 1.8rem;
                    }
                }
            }
        }
    }
}

// Large screens (up to 1024px)
@media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
    .whoAreWe {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 36.5rem;

        &__leftSection {
            &__top {
                gap: 2rem;

                &__title {
                    font-size: 2.5rem;
                }

                &__middle {
                    &__img{
                        margin-left: 1rem;
                        width: 31rem;
                        height: 38rem;
                    }
                }

                &__description {
                    width: 25rem;
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                }
            }

            &__bottom {
                margin-top: 10rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                &__imgArea {
                    margin-bottom: 7rem;
                    margin-left: 1rem;

                    &__geometryImg {
                        width: 36rem;
                        height: 16rem;
                    }
                }
                &__paragraph {
                    width: 36rem;

                    p {
                        margin-bottom: 1rem;
                        line-height: 1.8rem;
                    }
                }
            }
        }
    }
}

// Extra large screens (up to 1200px)
@media (min-width: $breakpoint-large) and (max-width: $breakpoint-xlarge) {
    .whoAreWe {
        width: 54.75rem;

        &__leftSection {
            &__top {
                &__title {
                    font-size: 2.5rem;
                }

                &__description {
                    width: 24rem;
                    font-size: 1.8rem;
                    line-height: 2.5rem;
                }
            }

            &__bottom {
                &__imgArea {
                    margin-bottom: 4rem;

                    &__geometryImg {
                        width: 24rem;
                        height: 12rem;
                    }
                }
                &__paragraph {
                    width: 25rem;
                }
            }
        }

        &__rightSection {
            top: -5rem;

            &__img {
                position: relative;
                top: 3rem;
                right: 0rem;
                width: 27rem;
                height: 37rem;
            }
        }
    }
}

// Extra extra large screens (up to 1440px)
@media (min-width: $breakpoint-xlarge) and (max-width: $breakpoint-xxlarge) {
    .whoAreWe {
        width: 65rem;

        &__leftSection {
            &__bottom {
                &__imgArea {
                    &__geometryImg {
                        width: 26.3rem;
                        height: 11rem;
                    }
                }
                &__paragraph {
                    width: 26.3rem;
                }
            }
        }

        &__rightSection {
            &__img {
                width: 36rem;
                height: 56rem;
            }
        }
    }
}
