.whoAreWe {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 5rem;

	&__imageBox {
		width: 100%;
		display: flex;
		flex-direction: column;

		.heroImg {
			width: 55%;
			max-width: 800px;
			height: auto;
			margin: 0 auto;
		}

		.sectionSubHeader {
			width: 55%;
		}
	}

	&__textBox {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 3rem;

		.geometryImg {
			width: 100%;
			max-width: 800px;
			height: auto;
		}

		.sectionText {

			span {
				font-weight: 450;
			}
			.free {
				color: var(--freedi-blue);
			}
			.di {
				color: var(--bottom-Logo-Di-Light);
			}
		}
	}

	&__leftSection {
		width: 29rem;
		display: flex;
		flex-direction: column;

		&__top {
			margin-top: 7rem;
			display: flex;
			flex-direction: column;
			gap: 35rem;

			&__title {
				font-size: 3.75rem;
				font-weight: 500;
				color: var(--text-black);
			}

			&__description {
				font-size: 2.2rem;
				font-weight: 400;
				line-height: 3rem;
				color: var(--text-black);
			}
		}

		&__bottom {
			margin-top: 30rem;

			&__imgArea {
				margin-bottom: 10rem;
				margin-right: 2rem;

				display: flex;
				justify-content: center;
				align-items: center;

				&__geometryImg {
					width: 29.2rem;
					height: 13rem;
				}

				&__geometryImg2 {
					width: 17rem;
					height: 4.5rem;
				}
			}
			&__paragraph {
				width: 29.2rem;
				p {
					margin-bottom: 1.5rem;
					color: var(--dark-text);
					font-weight: 350;
					line-height: 1.8rem;
					font-size: 1.25rem;
				}
			}
		}
	}

	&__rightSection {
		position: sticky;
		top: -12rem;
		height: fit-content;
		align-self: flex-start;
	}
}

.heroImg {
	width: 100%;
	max-width: 800px;
	height: auto;
}

.bottomLogoMaxWid,
.bottomLogoMinWid {
	margin-top: 7rem;
	margin-inline: auto;
	text-align: center;
}
