.connections {
    display: flex;
    gap: 5rem;

    &__img {
        width: 40vw;
        height: auto;
    }

    .sectionTextBox {
        margin: auto 0;
        padding-right: 5vw;
    }
}

@media screen and (max-width: 500px) {
    // .connections {
    //     flex-direction: column;

    //     &__img {
    //         width: 60vw;
    //     }
    // }
    // .sectionTextBox {
    //     margin: 0 auto;
    // }
}
