.aboutSection {
    height: fit-content;
    margin-top: 5vw;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5vw;
    &__backgroundShape {
        height: auto;
        width: 60vw;
        position: absolute;
        z-index: -10;
    }

    &__benefits {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5rem;
        width: 70%;
        margin: 0 auto;
        margin-top: 5rem;
        &__benefit {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            text-align: center;
            p {
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .aboutSection {
        &__benefits {
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
        }
    }
}
